* {
    background-color: gray;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    text-align: center;
}

table {
    text-align: left;
    margin: 0 auto;
    border: 1px solid blue;
}

td {
    padding: 6px;
    border-top: solid .5px black;
    background-color: lightgray;
}

.thead tr td{
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
}

#code {
    font-family: monospace;
    background-color: aqua;
}